<div class="listing-offer">
  <div class="exchange-listing">
    <%= link_to successful_exchange.listing.user do %>
      <div class="listing-image">
        <%= image_tag successful_exchange.listing.avatar.url %>
      </div>

      <p><strong>Listing: </strong><%= successful_exchange.listing.name %></p>
      <p><strong>Description: </strong><%= successful_exchange.listing.description %></p>
    <% end %>
    <p><strong>posted by </strong><%= link_to successful_exchange.listing.username, successful_exchange.listing.user %></p>
  </div>

  <div class="exchange-offer">
    <%= link_to successful_exchange.offer.user do %>
      <div class="listing-image">
        <%= image_tag successful_exchange.offer.avatar.url %>
      </div>

      <p><strong>Offer: </strong><%= successful_exchange.offer.name %></p>
      <p><strong>Description: </strong><%= successful_exchange.offer.description %></p>
    <% end %>
    <p><strong>posted by </strong><%= link_to successful_exchange.offer.username, successful_exchange.offer.user %></p>
  </div>

  <!-- <p> This successful exchange was made on <%= successful_exchange.created_time %></p> -->
  <br>

</div>
