<div class="dashboard-container">
<header>Welcome <%= current_user.username %>!</header>
<p class="user-avatar"><%= image_tag current_user.avatar.url if current_user.avatar? %></p>
<header>Your current location is: <%= current_user.city.titleize %>, <%= current_user.state.upcase %></header>

<div id="map"></div>
<script>
  var map, infoWindow;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: -34.397, lng: 150.644},
      zoom: 6,
      mapTypeId: google.maps.MapTypeId.HYBRID
    });
    infoWindow = new google.maps.InfoWindow;

    var pos = {
      lat: <%= current_user.latitude %>,
      lng: <%= current_user.longitude %>,
    };

    infoWindow.setPosition(pos);
    infoWindow.setContent("<%= current_user.username %>");
    infoWindow.open(map);
    map.setCenter(pos);
  }
</script>

</div>
<%= render "users/info", user: @user %> 

<%= render "google_maps" %>