<div class="dashboard-container">
<p>Welcome <%= current_user.username %>!</p>
<%= image_tag @user.avatar.url %>
<p>Your current location is: <%= @user.city.titleize %>, <%= @user.state.upcase %></p>

<div id="map"></div>
<script>
  var map, infoWindow;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: -34.397, lng: 150.644},
      zoom: 6
    });
    infoWindow = new google.maps.InfoWindow;

    var pos = {
      lat: <%= current_user.latitude %>,
      lng: <%= current_user.longitude %>,
    };

    infoWindow.setPosition(pos);
    infoWindow.setContent("<%= current_user.username %>");
    infoWindow.open(map);
    map.setCenter(pos);
  }
</script>

  <ul class="button-container">
    <% if current_user.listings.any? %>
      <li>
        <%= link_to "Listings", "#user-listings", class: "button" %>
      </li>
      <% else %>
        <%= link_to "Make New Listing", new_listing_path, class: "button" %>
    <% end %>

    <% if current_user.offers.any? %>
      <li>
        <%= link_to "Offers", "#user-offers", class: "button" %>
      </li>
    <% end %>

    <% if current_user.images.any? %>
      <li>
        <%= link_to "Images", "#user-images", class: "button" %>
      </li>
    <% end %>

    <% if current_user.followers.any? || current_user.followed_users.any? %>
      <li>
        <%= link_to "Follows/Followers", "#user-follows", class: "button" %>
      </li>
    <% end %>

    <li>
      <%= link_to "Edit my info", edit_user_path(current_user), class: "button" %>
    </li>
  </ul>
</div>
<%= render "users/info", user: @user %> 

<%= render "google_maps" %>