<div class="dashboard-container">
  <p>Welcome <%= current_user.username %>!</p><img src="<%= @user.avatar.url %>">
  <p>Your current location is: <%= @user.city.titleize %>, <%= @user.state.upcase %></p>

  <script>
    buildMap(<%= raw @location_hash.to_json %>);
  </script>

  <div class="button-container">
    <ul>
      <% if current_user.listings.any? %>
        <li>
          <%= link_to "Listings", "#user-listings" %>
        </li>
      <% end %>

      <% if current_user.offers.any? %>
        <li>
          <%= link_to "Offers", "#user-offers" %>
        </li>
      <% end %>

      <% if current_user.images.any? %>
        <li>
          <%= link_to "Images", "#user-images" %>
        </li>
      <% end %>

      <% if current_user.followers.any? || current_user.followed_users.any? %>
        <li>
          <%= link_to "Follows/Followers", "#user-follows" %>
        </li>
      <% end %>

      <li>
        <%= link_to "Edit my info", edit_user_path(current_user) %>
      </li>
    </ul>
  </div>
</div>
<%= render "users/info", user: @user %>
