<div class="session-introduction">
  <%= render "homes/introduction" %>
</div>

<div class="sign-in-form">
  <div class="session">
    <%= form_for :session, url: session_path do |form| %>
      <ul>
       <li><%= @error if @error.present? %></li>
      </ul>

      <div class="input-container">
        <%= form.label :email%>
        <%= form.text_field :email %>
      </div>

      <div class="input-container">
        <%= form.label :password %>
        <%= form.password_field :password %>
      </div>

      <div class="submit-button">
        <%= form.button "Sign In", :class => "button" %>
      </div>
    <% end %>
  </div>
</div>

