<div class="session">
  <b>If you have items or services to exchange we can help you connect with interested people!</b>

  <p>You can add a listing to the site.</P>
  <p>You can make an offer for a listing.</p>
  <p>You can accept an offer for one of your listings.</p>
  <p>Each user can be located through a google map on users page.</p>
  <P>You can locate users by cities.</P>
  <P>You can see the direction between you and another user if there is no ocean between you both.</P>
  <p>You can follow other user.</p>
  <p>You can add image to your user page.</p>
  <p>You can add text comment ot picture comment on all images.</p>
  <p>You can search listings, users, or images by name. Additionally, you can search a text-comment by text.</p>

  <%= form_for :session, url: session_path do |form| %>
    <div>
      <%= form.label :username%>
      <%= form.text_field :username %>
    </div>

    <div>
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>

    <div>
      <%= form.submit "Sign in" %>
    </div>
  <% end %>
<br>
<canvas data-processing-sources=<%= asset_path 'ball.pde' %>></canvas>
</div>
