<div class="session">
  <b>If you have items or services to exchange we can help you connect with interested people!</b>

  <p>You can see all the successful exchanges from this site.</p>
  <p>You can add a listing or make an offer for an existing listing.</p>
  <p>You can hit the "accept" button to accept an offer for your listing.</p>
  <p>You can hit the "complete" button to make your exchange successful.</p>
  <p>You can locate all users through a google map or by cities.</P>
  <P>You can see the direction between you and another user if there is no ocean in between.</P>
  <p>You can follow or unfollow other user.</p>
  <p>You can add image to your user page.</p>
  <p>You can add text comment ot picture comment on all images.</p>
  <p>You can search listings, users, or images by name, text-comments by text.</p>

  <%= form_for :session, url: session_path do |form| %>
    <div>
      <%= form.label :username%>
      <%= form.text_field :username %>
    </div>

    <div>
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>

    <div>
      <%= form.submit "Sign in" %>
    </div>
  <% end %>
<br>
<canvas data-processing-sources=<%= asset_path 'ball.pde' %>></canvas>
</div>
