<div class="content-group">
  <div class="exchange-listing">
    <%= link_to exchange.listing do %>
      <div class="content-image">
        <%= image_tag exchange.listing.avatar.url if exchange.listing.avatar? %>
      </div>
      <p class="content-name">Listing name: <%= exchange.listing.name %></p>
      <p>Description: <%= exchange.listing.description %></p>
    <% end %>
    <p>posted by <span class="content-name"><%= link_to exchange.listing.username, exchange.listing.user %></span></p>

    <% if current_user == exchange.offer.user %>
      <p>email: <%= exchange.listing.user.email %></p>
    <% end %>
  </div>

  <div class="exchange-offer">
    <%= link_to exchange.offer.user do %>
      <div class="content-image">
        <%= image_tag exchange.offer.avatar.url if exchange.offer.avatar? %>
      </div>
      <p class="content-name">Offer name: <%= exchange.offer.name %></p>
      <p>description: <%= exchange.offer.description %></p>
    <% end %>
    <p>posted by <span class="content-name"><%= link_to exchange.offer.username, exchange.offer.user %></span></p>

    <% if current_user == exchange.listing.user %>
      <p>email: <%= exchange.offer.user.email %></p>
    <% end %>
  </div>
  <p>This exchange was created at <%= exchange.offer.created_time %></p>


  <% if (current_user.id == exchange.listing.user_id && !exchange.completed?) ||
  (current_user.id == exchange.offer.user_id && !exchange.completed?
  ) %>
    <p class="exchange-in-process">If you have completed this exchange, please hit the complete button.</p>

    <p><%= link_to "COMPLETE", complete_exchange_path(exchange), method: :post, class: "button", data: { confirm: 'Are you sure you have completed this exchange?'} %></p>
  <% end %>

</div>
