<br>
<div class="listing">
  <ul>
    <li>
      <%= link_to exchange.listing do %>
        <div class="listing-image">
          <%= image_tag exchange.listing.url %>
        </div>

        <div class="listing-description">
          <p><strong>Listing name: </strong><%= exchange.listing.name %></p>
          <p><strong>Description: </strong><%= exchange.listing.description %></p>
      <% end %>
          <p><strong>posted by </strong><%= link_to exchange.listing.username, exchange.listing.user %></p>

           <% if current_user == exchange.offer.user %>
             <p>email: <%= exchange.listing.user.email %></p>
           <% end %>

          <p>was created at <%= exchange.listing.created_time %></p>
        </div>
    </li>
    <br> <br>
    <li>
      <%= link_to exchange.offer.user do %>
        <div class="listing-image">
          <%= image_tag exchange.offer.url %>
        </div>

        <div class="listing-description">
          <p><strong>Offer name: <strong><%= exchange.offer.name %></p>
          <p><strong>description: </strong><%= exchange.offer.description %></p>
      <% end %>
          <p><strong>posted by </strong><%= link_to exchange.offer.username, exchange.offer.user %></p>

          <% if current_user == exchange.listing.user %>
            <p>email: <%= exchange.offer.user.email %></p>
          <% end %>

          <p>was created at <%= exchange.offer.created_time %></p>

          <p class="exchange-in-process">If you have completed this exchange, please hit the     complete button.</p>
          <% if current_user.id == exchange.listing.user_id && !exchange.completed? %>
            <p><%= button_to "COMPLETE", complete_exchange_path(exchange), data: { confirm: 'Are you sure you have completed this exchange?'} %></p>
          <% end %>

          <% if current_user.id == exchange.offer.user_id && !exchange.completed? %>
            <p><%= button_to "COMPLETE", complete_exchange_path(exchange), data: { confirm: 'Are you sure you have completed this exchange?'} %></p>
          <% end %>
</div>
