<div class="listing-form">
  <%= form_for listing do |form| %>
    <%= render "application/form_errors", object: listing %>
    <div>
      <%= form.text_area :name, placeholder: "type listing name"%>
    </div>

    <div>
      <%= form.text_area :description, placeholder: "type listing description" %>
    </div>
    <div>
      <%= form.label :avatar %>
      <%= form.file_field :avatar %>
    </div>
    <%= form.submit %>
  <% end %>
</div>
