<div class="new-form">
  <%= form_for listing do |form| %>
    <%= render "application/form_errors", object: listing %>

    <div class="input-container">
      <%= form.label :avatar %>
      <%= form.file_field :avatar %>
    </div>  

    <div class="input-container">
      <%= form.label :name %>
      <%= form.text_area :name %>
    </div>

    <div class="input-container">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>

    <div class="submit-button">
      <%= form.button "Submit", :class => "button" %>
    </div>
  <% end %>
</div>
