<div class="content-group">
  <%= link_to listing do %>
    
    <div class="content-image">
      <%= image_tag listing.avatar.url if listing.avatar? %>
    </div>
  
    <div>
      <p class="content-name">Listing name: <%= listing.name %></p>
      <p>Listing description: <%= listing.description %></p>
  <% end %>
      <p>posted by <span class="content-name"><%= link_to listing.username, listing.user %></span></p>
      <p>was created on <%= listing.created_time %></p>
    </div>
</div>
