<div class ="listing">
  <%= link_to listing do %>
    <h5>Listing name: <%= listing.name %>,
      description: <%= listing.description %></h5>
    <%= image_tag listing.url, width:"200" %>
  <% end %>

  <h6>Listing by user: <b class="username"><%= link_to listing.user.username, listing.user %>,</b>
    was created at <%= listing.created_time %></h6>
</div>
