<div class="content-group">
  <%= link_to listing do %>
    <div class="listing-image">
      <%= image_tag listing.avatar.url %>
    </div>

    <div class="listing-description">
      <p><strong>Listing name: </strong><%= listing.name %></p>
      <p><strong>Listing description: </strong><%= listing.description %></p>
  <% end %>
      <p><strong>posted by </strong><%= link_to listing.username, listing.user %></p>
      <p>was created on <%= listing.created_time %></p>
    </div>
</div>
