<%= link_to listing do %>
  <h3>listing name: <%= listing.name %></h3>
  <h4>listing description: <%= listing.description %></h4>
  <%= image_tag listing.url, width:"100" %>
<% end %>

<p>Listing by user: <b class="username"><%= link_to listing.user.username, listing.user %>,</b>
  was created at <%= listing.created_time %></p>
