<div class="exchange-in-process">
  <% if @listing.exchange.present? && @listing.exchange.successful_exchange.nil? %>
    <b>Exchange in process</b>
  <% end %>

  <% if (current_user == @listing.user && @listing.accepted?) && @listing.exchange.successful_exchange.nil? %>
    <p> If you want to complete this exchange, hit the button</p>
    <%= button_to "exchange page", exchange_path(@listing.exchange), method: :get %>
  <% end %>

  <% if @listing.exchange.present? && @listing.exchange.successful_exchange.present?%>
    <header>This exchange is completed!</header>
  <% end %>
</div>

<%= render @listing %>

<% unless (@listing.user != current_user || @listing.accepted?) %>
  <%= link_to "Edit", edit_listing_path(@listing), method: :get, class: "button" %>
  <%= link_to "Delete", listing_path(@listing), method: :delete, class: "button", data: { confirm: 'Are you sure you want to delete this listing?' } %>
<% end %>

<div class="new-form offer">
  <% unless (@listing.user == current_user ||  @listing.accepted?) %>
    <header class="new">Make an offer!</header>
    <%= form_for [@listing, @offer] do |form| %>
      <div class="input-container">
        <%= form.file_field :avatar %>
      </div>

      <div class="input-container">
        <%= form.label :name %>
        <%= form.text_area :name %>
      </div>

      <div class="input-container">
        <%= form.label :description %>
        <%= form.text_area :description %>
      </div>

      <div class="submit-button">
        <%= form.button "Submit", :class => "button" %>
      </div>
    <% end %>
  <% end %>
</div>
<br>

<%= render @listing.offers.by_most_recent %>

<%= render partial: "comments/form",  locals: { comment: @comment, commentable: @listing } %>

<% if @listing.comments.any? %>
  <header>Comments for listing:</header>
  <% @listing.comments.by_most_recent.each do |comment| %>
    <%= render partial: "comments/comment",  locals: { comment: comment, commentable: @listing } %>
  <% end %>
<% end %>
