<div class="exchange-in-process">
  <% if @listing.exchange.present? && @listing.exchange.successful_exchange.nil? %>
    <b>Exchange in process</b>
  <% end %>

  <% if (current_user == @listing.user && @listing.accepted?) && @listing.exchange.successful_exchange.nil? %>
    <p> If you want to complete this exchange, hit the button</p>
    <%= button_to "exchange page", exchange_path(@listing.exchange), method: :get %>
  <% end %>

  <% if @listing.exchange.present? && @listing.exchange.successful_exchange.present?%>
    <p>This exchange is completed!</p>
  <% end %>
</div>

<%= render @listing %>

<% unless (@listing.user != current_user || @listing.accepted?) %>
  <%= link_to "Edit", edit_listing_path(@listing), method: :get, class: "button" %>
  <%= link_to "Delete", listing_path(@listing), method: :delete, class: "button", data: { confirm: 'Are you sure you want to delete this listing?' } %>
<% end %>

<div class="user">
  <% unless (@listing.user == current_user ||  @listing.accepted?) %>
    <p>Make an offer</p>
    <%= form_for [@listing, @offer] do |form| %>

      <div>
        <%= form.text_area :name, placeholder: "type offer name"%>
      </div>

      <div>
        <%= form.text_area :description, placeholder: "type offer description" %>
      </div>

      <div>
        <%= form.file_field :avatar %>
      </div>
      <%= form.submit %>
    <% end %>
  <% end %>
</div>
<br>

<%= render @listing.offers.by_most_recent %>

<%= form_for @comment do |c| %>
  <%= c.hidden_field :commentable_type, value: "Listing" %>
  <%= c.hidden_field :commentable_id, value: @listing.id %>
  <%= c.text_area :body, placeholder: "type comment" %>
  <%= c.submit %>
<% end %>

<% if @listing.comments.any? %>
  <p>Comments for listing:</p>
  <% @listing.comments.by_most_recent.each do |comment| %>
    <%= render partial: "comments/comment",  locals: { comment: comment, commentable: @listing } %>
  <% end %>
<% end %>
