<div class="content-group">
  <%= link_to group do %>
    <p class="content-name">Group name: <%= group.name %></p>
    <p>Group description: <%= group.description %></p>
  <% end %>
  <p>created by <span class="content-name"><%= link_to group.user.username, group.user %></span></p>
  <p>was created on <%= group.created_time %></p>
</div>
