<div class="content-group listing-description">
  <%= link_to group do %>
    <p><strong>Group name: </strong><%= group.name %></p>
    <p><strong>Group description: </strong><%= group.description %></p>
  <% end %>
  <p><strong>created by <%= link_to group.user.username, group.user %></p>
  <p>was created on <%= group.created_time %></p>
</div>
