<%= render @group %>
<% if @group.user == current_user %>
  <%= link_to "Edit", edit_group_path(@group), class: "button" %>
  <%= link_to "Delete", group_path(@group), class: "button", method: :delete, data: { confirm: 'Are you sure you want to delete this group?' } %>
<% end %>

</div>

<%= form_for @comment do |c| %>
  <%= c.hidden_field :commentable_type, value: "Group" %>
  <%= c.hidden_field :commentable_id, value: @group.id %>
  <%= c.text_area :body, placeholder: "type comment" %>
  <%= c.submit %>
<% end %>

<% if @group.comments.any? %>

  <% @group.comments.by_most_recent.each do |comment| %>
    <%= render partial: "comments/comment",  locals: { comment: comment, commentable: @group } %>
  <% end %>

<% end %>
