<% if current_user == @user %>   
  <%= link_to "Edit my info", edit_user_path(current_user), class: "button" %>
  <%= link_to "Add a listing", new_listing_path, class: "button" %>
  <%= link_to "Add an image", new_image_path, class: "button" %>
<% end %>

<% if @user.listings.any? %>
  <div id="user-listings">
    <header><%= @user.username %>'s listings:</header>
    <p><%= render @user.listings.by_most_recent %></p>
  </div>
<% end %>

<% if @user.offers.any? %>
  <div id="user-offers">
    <header><%= @user.username %>'s offers:</header>
    <%= render @user.offers.by_most_recent %>
  </div>
<% end %>

<% if @user.images.any? %>
  <div id="user-images">
    <header><%= @user.username %>'s images:</header>
    <div>
      <%= render(partial: "images/user_image", collection: @user.images) %>
    </div><br>
  </div>
<% end %>
  
<% if user.followers.any? || user.followed_users.any? %>
  <div id="user-follows" class="content-group">
    <% if user.followers.any? %>
      <header><%= @user.username %>'s followers:</header>
      <% @user.followers.each do |follower| %>
        <header><%= link_to follower.username, user_path(follower) %></header>
      <% end %>
    <% end %>
    <br>
    <% if user.followed_users.any? %>
      <header><%= @user.username %>'s following:</header>
      <% @user.followed_users.each do |followed_user| %>
        <header><%= link_to followed_user.username, user_path(followed_user) %></header>
      <% end %>
    <% end %>
  </div> 
<% end %>
