<br>
User's listing: <%= render(@user.listings) || "<p>No listing yet.</p>".html_safe %></p>
User's offer: <%= render(@user.offers) || "<p>No offer yet.</p>".html_safe %></p>

<br>
<div class="follow">
  User's followers: <%= render(@user.followers) || "<p>No followers yet. </p>".html_safe %>
  User's following: <%= render(@user.followed_users) || "<p>Not following anyone yet. </p>".html_safe %>
</div>
<br>
User's Images: <%= render(partial: "images/user_image", collection: @user.images) || "<p>No image yet.</p>".html_safe %>

<br>
User's comment: <%= render(@user.comments) || "<p>No comments yet.</p>".html_safe %>
