<h1>This is user: <%= link_to user.username, user_path(user) %></h1>
<h2>User's bio: <%= user.bio %></h2>
<p>User's location: </p>
<p>City: <%= user.city.titleize %>,
State: <%= user.state.upcase %>,
Latitude: <%= user.latitude %>,
Longitude: <%= user.longitude %></p>
