<h1>Change Your Information</h1>
<%= form_for current_user do |form| %>
  <%= render "application/form_errors", object: current_user %>

  <div>
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :bio %>
    <%= form.text_area :bio %>
    </div>
  <h3>Change Your Location</h3>
  <div>
    <%= form.collection_select :location_id, Location.all, :id, :city, prompt: true %>
  </div>

  <h4> Location not listed? </h4>
  <h4> <%= link_to "Go add an location", new_location_path %></h4>
  <div>
    <%= form.submit %>
  </div>
<% end %>
