<script>
  $(function() {
    calcRoute([<%= @user.latitude %>, <%= @user.longitude %>],
      [<%= current_user.latitude %>, <%= current_user.longitude %>])
  });
</script>

<p><%= link_to "Edit Your Information 编辑你的信息", edit_user_path(current_user) %></p>

<div id="directions"></div>

<h1>User <%= @user.username %>'s Page</h1>

<% if current_user.followings?(@user) %>
  <%= button_to "unfollow", follow_user_path(@user), method: :delete %>
<% else %>
  <%= button_to "follow!", follow_user_path(@user) %>
<% end %>

<p>User <%= @user.username %>'s location: </p>
<p><%= link_to @user.city.titleize,
   location_path(@user.location) %>,
   <%= @user.state.upcase %></p>

<%= render(partial: "images/user_image", collection: @user.images) || "<p> User does not have image yet. </p>".html_safe %>
