<script>
  $(function() {
    calcRoute([<%= @user.latitude %>, <%= @user.longitude %>],
      [<%= current_user.latitude %>, <%= current_user.longitude %>])
  });
</script>

<div id="directions"></div>

<h1>User <%= @user.username %>'s Page</h1>

<% if current_user.followings?(@user) %>
  <%= button_to "unfollow", follow_user_path(@user), method: :delete %>
<% else %>
  <%= button_to "follow!", follow_user_path(@user) %>
<% end %>

<div class="user-show">
  <p>User <%= @user.username %>'s location: </p>
  <p><%= link_to @user.city.titleize,
     location_path(@user.location) %>,
     <%= @user.state.upcase %></p>
  <p>Bio: <%= @user.bio %></p>
</div>

<%= render "info", user: @user %>
