<script>
  $(function() {
    calcRoute([<%= @user.latitude %>, <%= @user.longitude %>],
      [<%= current_user.latitude %>, <%= current_user.longitude %>])
  });
</script>

<p><%= link_to "Edit Your Information 编辑你的信息", edit_user_path(current_user) %></p>

<div id="directions"></div>

<%= render(partial: "images/user_image", collection: @user.images) || "<p> User does not have image yet. </p>".html_safe %>

<h1>User <%= @user.username %>'s Page</h1>

<h3>这是TA的图片:</h3>

<p>User <%= @user.username %>'s location: </p>
<p><%= link_to @user.city.titleize,
   location_path(@user.location) %>,
   <%= @user.state.upcase %></p>
