<div>
  <%= link_to "Edit Your Information 编辑你的信息", edit_user_path(current_user) %>
</div>

<div>
  <%= link_to "Create New Location", new_location_path %>
</div>

<div>
  <%= link_to "Add Image 添加图片", new_image_path %>
</div>

<h1>User <%= @user.username %>'s Page</h1>

<h3>这是TA的图片:</h3>

<% @user.images.each do |image| %>
  <div>
    <h1>name: <%= image.name %></h1>
    <h2>description: <%= image.description %></h2>
    <%= link_to image do %>
      <%= image_tag image.url, width:"500" %>
    <% end %>
    <p>This image was created at <%= image.created_at.strftime("%H:%M %m/%d/%Y %Z") %></p>
  </div>
<% end %>
<p>User <%= @user.username %>'s location: </p>
<p><%= link_to @user.location.city.titleize,
   location_path(@user.location) %>,
   <%= @user.location.state.upcase %></p>
<% else %>
