<script>
  $(function() {
    calcRoute([<%= @user.latitude %>, <%= @user.longitude %>],
      [<%= current_user.latitude %>, <%= current_user.longitude %>])
  });
</script>

<div id="directions"></div>

<h1>User <%= @user.username %>'s Page</h1>

<% if current_user.followings?(@user) %>
  <%= button_to "unfollow", follow_user_path(@user), method: :delete %>
<% else %>
  <%= button_to "follow!", follow_user_path(@user) %>
<% end %>

<%= render @user %>
<%= render "info", user: @user %>
