<%= link_to counter_offer.user do %>
  <h1>Counter offer name: <%= counter_offer.name %></h1>
  <h2>Counter offer description: <%= counter_offer.description %></h2>
  <%= image_tag counter_offer.url, width:"500" %>
<% end %>

<p>Counter offer by user: <%= link_to counter_offer.user.username, counter_offer.user %></p>

<p>This counter offer was created at <%= counter_offer.created_time %></p>
