<%= link_to counter_offer.user do %>
  <h1>Counter offer name: <%= counter_offer.name %></h1>
  <h2>Counter offer description: <%= counter_offer.description %></h2>
  <%= image_tag counter_offer.url, width:"500" %>
<% end %>

<p>Counter offer by user: <%= link_to counter_offer.user.username, counter_offer.user %></p>

<p>This counter offer was created at <%= counter_offer.created_time %></p>

<div>
  <%= button_to "Edit this counter offer 编辑",
    edit_offer_counter_offer_path(counter_offer.offer, counter_offer),
    method: :get %>
</div>

<div>
  <%= button_to "Delete this counter offer 删除",
    offer_counter_offer_path(counter_offer.offer, counter_offer),
    method: :delete, data: { confirm: 'Are you sure you want to delete this offer?' } %>
</div>

<% unless counter_offer.accepted? || current_user.can_accept?(counter_offer.offer) %>
  <p><%= button_to "ACCEPT", accept_counter_offer_path(counter_offer), data: { confirm: 'Are you sure?'} %></p>
<% end %>
<%= flash[:notice] %>
