<h2 class="search-result">search results for <%= params[:search] %>:</h2>
<% if @comments.any? || @users.any? || @listings.any? || @offers.any? || @images.any? || @groups.any? %>
  <p><%= render @comments %></p>
  <p><%= render @users %></p>
  <p><%= render @listings %></p>
  <p><%= render @offers %></p>
  <p><%= render @images %></p>
  <p><%= render @groups %></p>
<% else %>
  <p> Sorry, we did not find anything. </p>
<% end %>
