<h2 class="search-result">search results: <% params[:search] %></h2>

<p><%= render @comments %></p>
<p><%= render @users %></p>
<p><%= render @listings %></p>
<p><%= render @offers %></p>
<p><%= render @images %></p>
