<div class="offer-show">
  <%= link_to offer do %>
    <h1>Offer name: <%= offer.name %></h1>
    <h2>Offer description: <%= offer.description %></h2>
    <%= image_tag offer.url, width:"300" %>
  <% end %>

  <p>Offered by user: <b class="username"><%= link_to offer.user.username, offer.user %></b></p>

  <p>This offer was created at <%= offer.created_time %></p>
</div>
