<div class="offer-edit">
  <div class="form">
   <%= form_for [@offer.listing, @offer] do |form| %>
      <div>
        <%= form.label :name, style: "display: none;" %>
        <%= form.text_area :name, placeholder: "type offer name"%>
      </div>

      <div>
        <%= form.label :description, style: "display: none;" %>
        <%= form.text_area :description, placeholder: "type offer description" %>
      </div>

      <div>
        <%= form.file_field :avatar %>
      </div>
      <%= form.submit %>
    <% end %>
  </div>
</div>
