<div class="offer-edit">
  <div class="form">
   <%= form_for [@offer.listing, @offer] do |form| %>
      <div>
        <%= form.text_field :name, placeholder: "type offer name here"%>
      </div>

      <div>
        <%= form.text_area :description, placeholder: "type offer description here" %>
      </div>

      <div>
        <%= form.text_field :url, placeholder: "type offer image url here" %>
      </div>
      <%= form.submit %>
    <% end %>
  </div>
</div>
