<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body, #map-canvas {
        height: 200px;
      }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCoT4I4sreJE9IESy6BmxGmvIY6o53bN10">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: <%= current_user.latitude %>, lng: <%= current_user.longitude %>},
          mapTypeId: google.maps.MapTypeId.SATELLITE,
          zoom: 18,
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
        map.setTilt(45);
        map.setHeading(90);
      }

      function autoRotate() {
        // Determine if we're showing aerial imagery
        if (map.getTilt() != 0) {
          map.setHeading(180);
          setTimeout('map.setHeading(270)',3000);
          setTimeout('map.setHeading(0)',6000);
          setTimeout('map.setHeading(90)',9000);
        }
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
    <p>今天是Today is <%= Time.now.strftime("%m/%d/%Y") %></p>
    <h1><%= current_user.username %>'s Dashboard</h1>
    <h2>This is your location on google map:</h2>
    <div id="map-canvas"></div>

    <p>Your location is at <%= current_user.city.titleize %>, <%= current_user.state.upcase %></p>
    <h3>Here are images you created:</h3>
    <h3>这是你的图片:</h3>

    <% current_user.images.each do |image| %>
      <div>
        <h1>name: <%= image.name %></h1>
        <h2>description: <%= image.description %></h2>
        <%= link_to image do %>
          <%= image_tag image.url, width:"500" %>
        <% end %>
        <p>This image was created at <%= image.created_at.strftime("%H:%M %m/%d/%Y %Z") %></p>
      <div>
    <% end %>

    <div>
      <%= link_to "Add Image 添加图片", new_image_path(@image) %>
    </div>
    <%= render "application/footer" %>
  </body>
</html>
