<div class="new-form">
  <%= form_for location do |form| %>
    <%= render "application/form_errors", object: location %>
    
    <div class="input-container">
      <%= form.label :city %>
      <%= form.text_field :city %>
    </div>

    <div class="input-container">
      <%= form.label :state %>
      <%= form.text_field :state %>
    </div>
    
    <div class="submit-button">
      <%= form.button "Submit", :class => "button" %>
    </div>
  <% end %>

  <div id="map"></div>
  <script>
    var map, infoWindow;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: -34.397, lng: 150.644},
        zoom: 6
      });
      infoWindow = new google.maps.InfoWindow;

      var pos = {
        lat: <%= current_user.latitude %>,
        lng: <%= current_user.longitude %>,
      };

      infoWindow.setPosition(pos);
      infoWindow.setContent("<%= location.city %>");
      infoWindow.open(map);
      map.setCenter(pos);
    }
  </script>
</div>
