<%= render "application/form_errors", object: location %>
<div class="new-location">
  <%= form_for location do |f| %>
    <%= render "application/form_errors", object: location %>

    <%= f.label :city %>
    <%= f.text_field :city %>

    <%= f.label :state %>
    <%= f.text_field :state %>

    <%= f.submit %>
  <% end %>

  <div id="map"></div>
  <script>
    var map, infoWindow;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: -34.397, lng: 150.644},
        zoom: 6
      });
      infoWindow = new google.maps.InfoWindow;

      var pos = {
        lat: <%= current_user.latitude %>,
        lng: <%= current_user.longitude %>,
      };

      infoWindow.setPosition(pos);
      infoWindow.setContent("<%= location.city %>");
      infoWindow.open(map);
      map.setCenter(pos);
    }
  </script>
</div>

