<p>City: <%= location.city.titleize %></p>
<p>State: <%= location.state.upcase %></p>
<p>Latitude: <%= location.latitude %></p>
<p>Longitude: <%= location.longitude %></p>

<% if location.users.present? %>
  It has
  <% @location.users.each do |user| %>
    <p>User: <b class="username"><%= link_to user.username, user_path(user) %></b></p>
  <% end %>
<% end %>
