<div>
  <%= link_to "Create New Location", new_location_path %>
</div>

<div>
  <%= link_to "Edit Your Information 编辑你的信息", edit_user_path(current_user) %>
</div>

<div>
  <%= link_to "Go To My Page 我的页面", user_path(current_user) %>
</div>

<h1>Where would you like to go?</h1>
<% @locations.each do |location| %>
  <p><%= link_to location.city.titleize, location %>,
  <%= location.state.upcase %></p>
<% end %>
