<div class="content-group">
  <%= link_to image do %>
    <div class="content-image">
      <%= image_tag image.avatar.url if image.avatar? %>
    </div>
    <p class="content-name">Image: <%= image.name %></p>
    <p>description: <%= image.description %></p>
  <% end %>
  <p>posted by <span class="content-name"><%= link_to image.user.username, image.user %></span></p>
  <p>was created on <%= image.created_time %></p>
</div>
