<div class="listing listing-description">
  <%= link_to image do %>
    <div class="listing-image">
      <%= image_tag image.url %>
    </div>
    <p><strong>Image:</strong><%= image.name %></p>
    <p><strong>description:</strong><%= image.description %></p>
  <% end %>
  <p><strong>posted by <%= link_to image.user.username, image.user %></p>
  <p>was created at <%= image.created_time %></p>


  <% if image.comments.any? %>
    <h4>Comments:</h4>
    <div class="comment">
      <% image.comments.each do |c| %>
        <%= c.body %>
        <p>posted by <%= link_to c.username, c.user %>,
          at <%= c.created_time %></p>
      <% end %>
    </div>
  <% end %>
</div>
