<h2>Image name: <%= image.name %></h2>
<h2>Image description: <%= image.description %></h2>
<%= link_to image do %>
  <%= image_tag image.url, width:"500" %>
<% end %>
<p>Upload by user: <%= link_to image.user.username, image.user %></p>

<p>This image was created at <%= image.created_time %></p>
