<div class="listing">
  <%= link_to image do %>
    <div class="listing-image">
      <%= image_tag image.url %>
    </div>
  <div class="listing-description">
    <p><strong>Image:</strong><%= image.name %></p>
     <p><strong>description:</strong><%= image.description %></p>
  <% end %>
    <p><strong>posted by<%= link_to image.user.username, image.user %></p>
    <p>was created at <%= image.created_time %></p>
  </div>
</div>
