<h1>name: <%= image.name %></h1>
<h2>description: <%= image.description %></h2>
<%= link_to image do %>
  <%= image_tag image.url, width:"500" %>
<% end %>
<p>Upload by user: <%= link_to image.user.username, image.user %></p>

<p>This image was created at <%= image.created_at.strftime("%H:%M %m/%d/%Y %Z") %></p>
