<div class="image">
  <p>Image: <%= image.name %>
    description: <%= image.description %></p>
  <%= link_to image do %>
    <div class="image-show">
      <%= image_tag image.url, width:"200" %>
    </div>
  <% end %>
  <p>by user: <i class="username"><%= link_to image.user.username, image.user %></i></p>

  <p class="small">was created at <%= image.created_time %></p>
</div>
