<div class="content-group listing-description">
  <%= link_to image do %>
    <div class="listing-image">
      <%= image_tag image.avatar.url %>
    </div>
    <p><strong>Image: </strong><%= image.name %></p>
    <p><strong>description: </strong><%= image.description %></p>
  <% end %>
  <p><strong>posted by <%= link_to image.user.username, image.user %></p>
  <p>was created on <%= image.created_time %></p>
</div>
