<div class="content-group">
  <%= link_to user_image do %>
    <div class="content-image">
      <%= image_tag user_image.avatar.url if user_image.avatar? %>
    </div>
    <header>Image:</strong><%= user_image.name %></header>
    <p>description: <%= user_image.description %></p>
  <% end %>
  <p>posted by <%= link_to user_image.user.username, user_image.user %></p>
  <p>was created on <%= user_image.created_time %></p>
</div>
