<%= render @image %>
<div>
  <%= link_to "Edit", edit_image_path(@image), class: "button", method: :get %>

  <%= link_to "Delete", image_path(@image), class: "button", method: :delete, data:  { confirm: 'Are you sure you want to delete this image?' } %>
</div>

<%= render partial: "comments/form",  locals: { comment: @comment, commentable: @image } %>

<% if @image.comments.any? %>
  <header>Comments for image:</header>
  <% @image.comments.by_most_recent.each do |comment| %>
    <%= render partial: "comments/comment",  locals: { comment: comment, commentable: @image } %>
  <% end %>
<% end %>
