<h1>Image name: <%= @image.name %></h1>
<h1>Image description: <%= @image.description %></h1>
<%= image_tag @image.url, width:"500" %>
<p>This image was created at 图片添加时间为 <%= @image.created_time %></p>

<div>
  <%= button_to "Edit This Image 编辑", edit_image_path(@image), :class => "button", :method => :get %>
</div>

<div>
  <%= button_to "Delete This Image 删除", image_path(@image), method: :delete, data: { confirm: 'Are you sure you want to delete this image?' } %>
</div>

<%= form_for [@image, @textcomment] do |form| %>
  <%= form.text_area :body, placeholder: "text comment 文字留言" %>
  <%= form.submit %>
<% end %>

<%= form_for [@image, @picturecomment] do |form| %>
  <%= form.text_area :url, placeholder: "picture comment 图片留言" %>
  <%= form.submit %>
<% end %>

<%= render @image.comments %>
