<%= render @image %>
<div class="user">
  <div>
    <%= button_to "Edit This Image", edit_image_path(@image), method: :get %>
  </div>

  <div>
    <%= button_to "Delete This Image", image_path(@image), method: :delete, data: { confirm: 'Are you sure you want to delete this image?' } %>
  </div>
<!--
  <%= form_for @comment do |c| %>
    <%= c.hidden_field :commentable_type, value: "Image" %>
    <%= c.hidden_field :commentable_id, value: @image.id %>
    <%= c.text_area :body, placeholder: "type text comment" %>
    <%= c.submit %>
  <% end %> -->

</div>
<%= render @image.comments.by_most_recent %>
