<h1><%= @image.name %></h1>
<h1><%= @image.description %></h1>
<%= image_tag @image.url, width:"500" %>

<div>
<%= link_to "Edit This Image", edit_image_path(@image) %>
</div>

<div>
<%= link_to "Delete This Image", image_path(@image), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<div>
<%= link_to "Dashboard", dashboard_path %>
</div>
