<!DOCTYPE html>
<html>
<head>
  <title>ABZ EXCHANGE</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  
  <%= stylesheet_link_tag "application", media: "all" %> 
 
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108634157-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-108634157-2');
  </script>

</head>

<body>
  <section class="header-container">
    <nav>
      <ul class="clearfix">
       <div class="sign-out">
        <% if signed_in? %>
          <%= link_to "Sign out", session_path, method: :delete %>
        <% else %>
         <li> <div class="sign-up"><%= link_to "Sign Up", new_user_path %></div></li>
         <li><div class="sign-in"><%= link_to "Sign In", new_session_path %></div></li>
        <% end %>
      </div>

        <% if signed_in? %>
          <li><%= link_to "Home", home_path %></li>
          <li><%= link_to "Dashboard", dashboard_path %></li>
        <% end %>
        <li><%= link_to "Listings", listings_path %></li>
        <li><%= link_to "Locations", locations_path %></li>
        <li><%= link_to "Users", users_path %></li>
        <li><%= link_to "Groups", groups_path %></li>
      </ul>

      <% if signed_in? %>
        <%= form_tag search_path, method: :get do %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "search" %>
        <% end %>
      <% end %>
       <span class="logo"><%= image_tag "ABZX02.png" %></span>
    </nav>

  </section>

  <section class="container">
    <%= yield %>
  </section>

  <div class="footer"><a href="mailto:abbyzhangnyc@gmail.com">
    <%= image_tag "BZ01.png" %>
  <!-- Copyright&copy; Abby Biying Zhang -->
</a></div>

</body>
</html>
