<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>ABZ EXCHANGE</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  
  <%= stylesheet_link_tag "application", media: "all" %> 
 
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <% if Rails.env.production? %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108634157-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-108634157-2');
    </script>

  <% end %>

</head>

<body>
  <section class="header-container">
    <nav>
      <ul class="clearfix">
       <div class="sign-out">
        <% if user_signed_in? %>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        <% else %>
         <li> <div class="sign-up"><%= link_to "Sign Up", new_user_registration_path %></div></li>
         <li><div class="sign-in"><%= link_to "Sign In", new_user_session_path %></div></li>
        <% end %>
      </div>

        <% if user_signed_in? %>
          <li><%= link_to "Home", home_path %></li>
          <li><%= link_to "Dashboard", dashboard_index_path %></li>
        <% end %>
        <li><%= link_to "Listings", listings_path %></li>
        <li><%= link_to "Locations", locations_path %></li>
        <li><%= link_to "Users", users_path %></li>
        <li><%= link_to "Groups", groups_path %></li>
      </ul>

      <% if user_signed_in? %>
        <%= form_tag search_path, method: :get do %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "search" %>
        <% end %>
      <% end %>
       <div class="logo">
        <%= link_to(image_tag("ABZX02.png"), home_path) %></div>
    </nav>

  </section>

  <section class="container">
    <div class="user-info">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <%- end -%>

      <% if user_signed_in? -%>
        <p>Hello User <%= current_user.username %>! You are signed in!</p>
      <% end -%>
    </div>

    <%= yield %>
  </section>

  <div class="footer">
    <a href="mailto:abbyzhangnyc@gmail.com">
      <%= image_tag "BZ01.png" %>
    </a>
  </div>

</body>
</html>
